html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: var(--font-geist-sans);
  min-height: ${projects.length * 100}vh;
  overflow-x: hidden;
}

// Hide scrollbar but keep functionality
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
} 